bin
obj
*.dll
*.exe
*.obj
*.chm
/Deploy
*.suo
*.user

/Data

/packages
/ThirdParty
/.vs/config/applicationhost.config
/Prototypes/AzureDocumentDb/packages
/Source/SqlServerCliTools/.vs/SqlServerCliTools/v15/sqlite3
/Source/SqlServerCliTools/SqlServerCliTools/out
