bin
obj
*.dll
*.exe
*.obj
*.chm
/Deploy
*.suo
*.user

/Data

/packages
/ThirdParty
/.vs/config/applicationhost.config
/Prototypes/AzureDocumentDb/packages
/Source/SqlServerSchemaExport/.vs/SqlServerSchemaExport/v15/sqlite3
/Source/SqlServerSchemaExport/SqlServerSchemaExport/out
